/* 1 СТРАНИЦА */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
*{
    margin:0;
    font-family: 'Inter';
}
html{
    height: 100%;
}
/* Фон с картинкой */

.divimg{
    background-image: url(health.jpg);
}
.text{
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    padding-left: 25vw;
    padding-right: 25vw;
    padding: 5vw 25vw 5vw 25vw;
    text-align:  center;

}

/* Шапка сайта */
header{
    background-color: #d8dfd3;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    color: #1c1c1c;
    text-decoration: none;
    font-size: 25px;
}

/* Логотип */
.logo{
    color: #1c1c1c;
    font-weight: 400;
    font-size: 40px;
}
.heart{
    height: 30px;
}

/* Бургер-меню */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
header {
    display: flex;
    justify-content: space-around;
    padding: 3vh 5vw;
    align-items: center;
}

.header__logo {
    width: 5vw;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
}
/* Подвал сайта */
footer{
    height: 100px;
    padding: 20px;
    background-color: #8aa38a;
}
.divfooter{
    display: flex;
    justify-content: space-evenly;
}

/* Фон */
main{
    height: 100%;
    background-color: #f3f4f3;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    background-size: contain;
    display: block;
    margin: 2% 9% 2% 9%;
}

@media (min-width: 320px) and (max-width: 700px) {
    /* Бургер */
    .burger-menu {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        transition: 0.3s ease;
    }

    .burger-menu::before,
    .burger-menu::after {
        content: ''; /* пустой контент */
        background: #fff; /* цвет бургера */
        position: absolute; /* позиция для общего блока*/
        width: 100%; /* ширина*/
        height: 2px; /* толщина полосок бургера */
        transition: 0.3s ease;
    }

    .burger-menu::before {
        top: 0; /* расположение верхней линии бургера */
    }

    .burger-menu span { /* средняя линия в виде span */
        background: #fff;
        position: absolute; 
        width: 100%;
        top: 9px;
        height: 2px; 
    }
    .burger-menu::after {
        bottom: 0; /* расположение нижней линии бургера */
    }


    /* Меню */
    .header-nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100vh;
        background: #4a4a4a;
        padding: 20px 10px;
        transform: translateX(100%);
        z-index: 1;
    }

    .nav-list {
        flex-direction: column;
        text-align: right;
    }

    /* active */

    .burger-menu.active {
        z-index: 3;
        transform: translateX(-40vw);
        transition: 0.3s ease;
    }

    .burger-menu.active::before {
        transform: rotate(45deg);
        top: 9px;
        transition: 0.3s ease;
    }
    .burger-menu.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
        transition: 0.3s ease;
    }

    .burger-menu.active span {
        transform: scale(0);
    }

    .header-nav.active {
        transform: translate(0);
        transition: 0.3s ease;
        color:#f1f1f1
    }
}
